.preview-gallery {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  bottom: 0;
  padding: 0;
  margin: 0;
  border-width: 0;
  background: #000;
  z-index: 100;
  transition: transform 0.5s linear;
  overflow: hidden;
  transform-origin: 0 0;
}

.preview-gallery.offscreen {
  transform: translateY(-100%) scale(.125) translateX(50%);
}

.frame-container {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden;
  -moz-user-select: none;
}

.media-frame {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.media-frame > img {
  top: 0;
  left: 0;
  position: absolute;
  border-width: 0;
  padding: 0;
  margin: 0;
  pointer-events: none;
  -moz-user-select: none;
}

.media-frame > video {
  transform-origin: 0 0;
}

.preview-controls {
  position: absolute;
  display: flex;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 45px;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 100;
}

.preview-controls > * {
  display: flex;
  padding: 0;
  margin: 0;
  border-width: 0;
  background: transparent;
  background-position: center center;
  background-repeat: no-repeat;
  transition: 0.2s ease-in-out;
}

.camera-back {
  position: absolute;
  font-size: 50px;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: rgba(0,0,0,.4);
  background-clip: padding-box;
  border: solid 2rem transparent;
  -moz-box-sizing: content-box;
  transition: background-color 1s;
  color: #fff;
}

.camera-back:active,
.gallery-button:active,
.share-button:active,
.delete-button:active {
  background-color: #008EAB;
  opacity: 1;
}

.gallery-button {
  left: 0;
  width: 33%;
  height: 100%;
  justify-content: center;
  color: white;
}

.share-button {
  left: 33%;
  width: 33%;
  height: 100%;
  justify-content: center;
  color: white;
}

.delete-button {
  left: 67%;
  width: 33%;
  height: 100%;
  justify-content: center;
  color: white;
}

.gallery-icon,
.delete-icon,
.share-icon {
  font-size: 30px;
  width: 1em;
  height: 1em;
  margin-top: 7px;
}

.count-text {
  position: absolute;
  bottom: 83px;
  width: 100%;
  height: 2rem;
  font-size: 2rem;
  text-align: center;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
  color: #FFFFFF;
}

/**
 * @deg90
 */

body.deg90 .media-frame {
  width: 100vh;
  height: 100vw;
  top: calc((100vh - 100vw) / 2);
  left: calc((100vw - 100vh) / 2);
  transform: rotate(-90deg);
}

body.deg90 .camera-back {
  bottom: 0;
}

body.deg90 .count-text {
  width: 100vh;
  bottom: 0;
  left: calc(100% - 83px);
  transform-origin: left bottom;
  transform: rotate(-90deg);
}

body.deg90 .preview-controls {
  width: 100vh;
  left: 100%;
  transform-origin: left bottom;
  transform: rotate(-90deg);
}

/**
 * @deg180
 */

body.deg180 .media-frame {
  transform: rotate(-180deg);
}

body.deg180 .camera-back {
  bottom: 0;
  right: 0;
}

body.deg180 .count-text {
  top: 88px;
  transform: rotate(-180deg);
}

body.deg180 .preview-controls {
  top: 0;
  transform: rotate(-180deg);
}

/**
 * @deg270
 */

body.deg270 .media-frame {
  width: 100vh;
  height: 100vw;
  top: calc((100vh - 100vw) / 2);
  left: calc((100vw - 100vh) / 2);
  transform: rotate(-270deg);
}

body.deg270 .camera-back {
  top: 0;
  right: 0;
}

body.deg270 .count-text {
  width: 100vh;
  top: 0;
  left: calc(83px + 2rem);
  transform-origin: left top;
  transform: rotate(-270deg);
}

body.deg270 .preview-controls {
  width: 100vh;
  top: 0;
  left: 45px;
  transform-origin: left top;
  transform: rotate(-270deg);
}
